<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="worstPC" class="com.netcracker.devices.Computer" scope="prototype">
        <constructor-arg ref="almostFreeCPU"/>
        <constructor-arg value="2"/>
    </bean>

    <bean id="almostFreeCPU" class="com.netcracker.CPUs.i3" scope="prototype"/>


    <bean name="laptop" class="com.netcracker.devices.Laptop" parent="worstPC"/>
</beans>