<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shavermaShop" class="com.netcracker.shop.ShavermaShop">
        <lookup-method name="makeShaverma" bean="shaverma"/>
        <lookup-method name="makeVeggieShaverma" bean="veggieShaverma"/>
    </bean>
    <bean id="shaverma" class="com.netcracker.shop.Shaverma" scope="prototype"/>
    <bean id="veggieShaverma" class="com.netcracker.shop.Shaverma" scope="prototype">
        <property name="isVeg" value="true"/>
    </bean>
</beans>