<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="someConfigurableComputer" class="com.netcracker.devices.Computer" scope="prototype">
        <property name="cpu" value="#{T(com.netcracker.conf.ConfigClass).getCpu()}"/>
        <property name="memoryGB" value="#{T(com.netcracker.conf.ConfigClass).getMemoryGB()}"/>
    </bean>
</beans>